<section class="container register_container">
    <div class="container register_container_form">
        <div class="register_cadastrar">
          <form method="post" id="send_form_login" class="register_form">

                <div class="mb-4 text-center">
                    <h4>Acesse sua conta</h4>
                    <p>Preencha os campos abaixo e faça o seu login:</p>
                </div>

                <div class="row">
                    <div class="col-12">
                        <label class="form-label">E-mail</label>
                        <input type="text" name="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="col-12">
                        <label class="form-label">Senha</label>
                        <input type="password" name="senha" class="form-control" placeholder="******">
                        <input type="hidden" name="conteudo" value="login" class="form-control" placeholder="******">
                    </div>  
                    <div class="mt-4 mb-4 col-12">
                        <button class="btn btn-primary w-100">Entrar</button>
                    </div>    
                </div>
                
                <div class="text-center">
                    <p>Não tem uma conta? <a href="/register">Cadastre-se</a></p>
                </div>
                
          </form>
        </div>
      </div>
</section>